/* site wide */
* {
  font-family: 'Gruppo', cursive;
}

body {
  background-color: #DDDDDD;
  font-family: verdana;
  margin: 0;
  color: black;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

form>* {
  margin: 1rem;
}

button {
  border-color: black;
  border-radius: 5rem;
  color: white;
  font-size: large;
  margin: 16px;
  background-color: 2d2d2d;
  box-shadow: 1px 1px 1px 1px black;
}

button:hover {
  background-color: rgba(215, 108, 0, 0.824);
  cursor: pointer;
}

button:active {
  background-color: cornsilk;
  box-shadow: none;
}

nav {
  display: flex;
  justify-content: space-around;
}

.navBar {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
}

.navBar>a {
  color: grey;
  text-decoration: none;
  background-color: black;
  font-size: 25px;
  font-weight: bold;
}

.logo {
  height: 50px;
  width: 100px;
}

input {
  display: flex;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* admin dash */
.adminDash {
  display: flex;
  flex-direction: column;
}

.adminUsersProducts {
  display: flex;
  justify-content: space-between;
}

.adminProducts {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  background-color: rgb(158, 158, 158);
  max-width: 40rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0.5rem;
  overflow-y: scroll;
  height: 700px;
}

.adminProdCard {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0.5rem;
}

.adminProdCardImg>img {
  width: 75%;
  height: auto;
  max-height: 183px;
}

.editProduct {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  background-color: rgb(158, 158, 158);
  min-width: 20rem;
  max-width: 40rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.editProduct>form>label {
  margin: 2px;
}

.editProduct>form>button {
  font-size: 18px;
}

.editProduct>form>label>input {
  width: 18rem;
}

.adminUsers {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  background-color: rgb(158, 158, 158);
  max-width: 25rem;
  min-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0.5rem;
  overflow-y: scroll;
  height: 700px;
}

/*Customized scroll bar*/
/* width */
.adminProducts::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.adminProducts::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.adminProducts::-webkit-scrollbar-thumb {
  background: rgba(70, 72, 70, 0.568);
  border-radius: 10px;
}

/*Customized scroll bar*/
/* width */
.adminUsers::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.adminUsers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.adminUsers::-webkit-scrollbar-thumb {
  background: rgba(70, 72, 70, 0.568);
  border-radius: 10px;
}

.adminDash>h1 {
  display: flex;
  justify-content: center;
}

/* product page */
.productPage {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 5rem 0;
  align-items: center;
}

.search-products {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: .5rem;
  border: black;
  height: 35px;
}

.search-products>input {
  height: 100%;
  width: 100%;
  padding: none;
  margin: none;
  border-radius: 0;
}

.search-icon {
  background-color: rgba(215, 108, 0, 0.824);
  height: 100%;
  width: 100%;
  margin: none;
  border: black 4px;
}
.srcBtn{
  margin: 0;
  border-radius: 0;
  padding: 0;
  background-color: rgba(215, 108, 0, 0.824);
  height: 100%;
  width: auto;
  box-shadow: none;
  border-left: none;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.product-info {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0.5rem;
}
.product-info:before, .product-info:after {
  border-radius: 0.5rem;
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, rgba(215, 0, 183, 0.824),rgba(29, 0, 215, 0.824),rgba(0, 168, 215, 0.824),rgba(0, 211, 215, 0.824),
  rgba(0, 168, 215, 0.824),rgba(29, 0, 215, 0.824),rgba(215, 0, 183, 0.824));
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.product-info:after {
	filter: blur(10px);
  border-radius: 0.5rem;
}

.product-info>div {
  margin-top: auto;
}

.product-info p {
  font-size: 0.9rem;
  margin-top: auto;
}

.product-info img {
  width: 100%;
  cursor: pointer;
}

/* single product */

.details-styles {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 50%;
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 35%;
  border: black 2rem;
  border-radius: .5rem;
  padding: 16px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.single-image>img{
  width: 100%;
  height: auto;
}
.backArrow{
color: black;
font-size: 30px;
margin-left: 2rem;
}

.single-product-info {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 40%;
  background-color: white;
  padding: 5px;
  border-radius: .5rem;
  border: black 50px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* .single-product-info:before, .single-product-info:after {
  border-radius: 0.5rem;
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, rgba(215, 0, 183, 0.824),rgba(29, 0, 215, 0.824),rgba(0, 168, 215, 0.824),rgba(0, 211, 215, 0.824),
  rgba(0, 168, 215, 0.824),rgba(29, 0, 215, 0.824),rgba(215, 0, 183, 0.824));
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: lul 20s linear infinite;
}

@keyframes lul {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.single-product-info:after {
	filter: blur(10px);
  border-radius: 0.5rem;
} */

.single-product-info>p {
  width: 40%;
  margin: 1rem 1rem;
  font-size: large;
}

.single-product-info>h2 {
  margin-top: 3rem;
  font-size: larger;
}
.atc-container{
display: flex;
align-items: center;
}
.qty-btn {
  font-size: 1.5rem;
  border: none;
  display: flex;
  padding: 5px;
}

.add-to-card {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.add-to-card>p {
  font-size: large;
}

.add-to-card>input {
  height: 90%;
  text-align: center;
  width: 15%;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 50%;
  font-weight: 500;
  font-size: 1.2rem;
  background: #2d2d2d;
  color: white;
  cursor: pointer;
  border-radius: .5rem;
}

.add-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

/* .atc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

* {
  box-sizing: border-box;
}

.qty-span {
  position: absolute;
  top: -17px;
  right: -10px;
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #777;
  border-radius: 50%;
}

.cart-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

/* home page */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slide {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: white;
}

.carousel .slide img {
  max-height: 100%;
  width: auto;
}

.carousel .thumb {
  background-color: white;
  height: 60px;
  width: 60px;
}

.dispImg {
  margin: 0 auto;
  height: 75%;
  width: auto;
  align-items: center;
  justify-content: center;
}

/* login and register pages */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login>a {
  text-decoration: none;
  color: black;
}

.regHead {
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register>a {
  text-decoration: none;
  color: black;
}

.clickMe {
  text-decoration: underline;
  color: black;
}

.userpass {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.userpass>input {
  height: 35px;
  width: 100%;
  border-color: black;
}

.userpass>input>::placeholder {
  color: white;
}

.userpass>button {
  height: 35px;
  border-color: black;
  border-radius: 5rem;
  font-size: large;
  width: 100%;
  margin: 16px;
}

/* # FOOTER CSS # */

footer {
  background-color: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.social-media-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 3rem 0;
}

.sprites {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.social-media-links li {
  margin: 0 10px;
}

.social-media-links a {
  text-decoration: none;
  color: #fff;
}

.social-media-links a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.social-media-links a:hover i {
  color: dodgerblue;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* profile */

.profile {
  display: flex;
  justify-content: space-around;
}

.userInfo>img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.userInfo>button {
  height: 20px;
  border-color: black;
  border-radius: 5rem;
  font-size: large;
  width: 55%;
  font-size: small;
}

.editSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editSection>button {
  height: 35px;
  border-color: black;
  border-radius: 5rem;
  font-size: large;
  width: 100%;
  margin: 16px;
}

/* cart */
.cart-page {
  margin: 1rem;
  height: 100%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.cart-img {
  width: 75%;
  height: auto;
  max-height: 185px;
  background-color: white;
  border-radius: .5rem;
  margin: 4px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cart-select {
  display: flex;
  background-color: #2d2d2d;
}

.cart-edit {
  display: flex;
  align-items: center;
  height: 50px;
}

.cart-edit>div>select {
  border-radius: .5rem;
}

.cart-edit>button {
  height: 20px;
  font-size: small;
  margin: 4px;
}

.toCheckout {
  display: flex;
}

.toCheckout>p {
  font-size: large;
  font-weight: bold;
}

/* checkout page */

.checkout-page{
  display: flex;
  margin: 2px;
}
.checkout-left{
  display: flex;
  flex-direction: column;
}
.checkout-right{
  display: flex;
  flex-direction: column;
}
.checkout-page>div>input{
  margin: 2px;

}
.checkout-page>div{
  display: flex;
  width: 50%;
}
.checkout-name{
  display: flex;

}
.address{
  display: flex;

}
.payment{
  display: flex;
}