body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.adminDash {
  display: flex;
  flex-direction: column;
  background-color: rgb(93, 97, 95);
}

.adminUsersProducts {
  background-color: brown;
  display: flex;
  justify-content: space-between;
}

.adminProducts {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  background-color: rgb(162, 161, 161);
  max-width: 40rem;
}

.adminUsers {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  background-color: rgb(162, 161, 161);
  max-width: 40rem;
  min-width: 40rem;
}
